importFrom("utils", "read.csv")
importFrom("utils", "data")
importFrom("stats", "runif")
importFrom("stats", "dist")
useDynLib(LatticeDesign, .registration=TRUE)
export(InterleavedMaximinDAlg1,InterleavedMaximinDAlg2,InterleavedMaximinDAlg3,InterleavedMaximinD)
export(DPMPD,ProjSepD)
export(RSPD,AdaptiveRSPD,SlicedRSPD)
